antlr4-python3-runtime==4.9.3
autograd==1.6.2
contourpy==1.1.1
cycler==0.11.0
dill==0.3.7
eduvpn-client==4.1.1
eduvpn-common==1.1.0
f3dasm==1.2.0
filelock==3.12.4
flake8==6.1.0
fonttools==4.42.1
future==0.18.3
hydra-core==1.3.2
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
mccabe==0.7.0
multiprocess==0.70.15
numpy==1.24.4
omegaconf==2.3.0
packaging==23.1
pandas==2.0.3
pathos==0.3.1
Pillow==10.0.1
pox==0.3.3
ppft==1.7.6.7
pycodestyle==2.11.0
pyflakes==3.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
SALib==1.4.7
scipy==1.10.1
six==1.16.0
tzdata==2023.3
xarray==2023.1.0
zipp==3.17.0
