design:
  input_space:
    ddx:
      _target_: f3dasm.ContinuousParameter
      lower_bound: 15.0
      upper_bound: 145.0
    ddy:
      _target_: f3dasm.ContinuousParameter
      lower_bound: 20.0
      upper_bound: 145.0
    CTE1:
      _target_: f3dasm.ContinuousParameter
      lower_bound: 5.0e-06
      upper_bound: 12.0e-06
    CTE2:
      _target_: f3dasm.ContinuousParameter
      lower_bound: 20.0e-06
      upper_bound: 37.0e-06

  output_space:
    acc_nlcr:
      _target_: f3dasm.ContinuousParameter

sampler:
  _target_: mfb.sampling.SobolSequence_torch
  seed: 0
  number_of_samples: 512

slurm:
  arrayid: 0
  jobid: '0'
