defaults:
  - override hydra/job_logging: custom

design:
  input_space:

    regression_type:
      _target_: f3dasm.CategoricalParameter
      categories: [
        "Sogpr",
        # "MultitaskGPR",
        ]

    regression_covar_base_name:
      _target_: f3dasm.CategoricalParameter
      categories: [
        # "RBFKernel",
        "MaternKernel",
        # "RQKernel",
      ]

    regression_gp_initialization:
      _target_: f3dasm.CategoricalParameter
      categories: [
        "True",
        # "False",
      ]

    optimization_hyperparameter_selection:
      _target_: f3dasm.CategoricalParameter
      categories: [
          # "fixed",
          "multinomial",
          # "random",
        ]

    optimization_acquisition_type:
      _target_: f3dasm.CategoricalParameter
      categories: [
        # "ProbabilityOfImprovement", # LogPI
        # "ExpectedImprovement", # LogEI
        # "UpperConfidenceBound",
        "adaptive",
        ]

    optimization_input_distance_threshold: 
      _target_: f3dasm.CategoricalParameter
      categories: [
        "no_threshold",
        "0.25",
      ]

    optimization_input_distance_threshold_end: 
      _target_: f3dasm.CategoricalParameter
      categories: [
        # "fixed_threshold",
        "adaptive_threshold",
        # "1.5",
      ]

    optimization_input_distance_threshold_lf: 
      _target_: f3dasm.CategoricalParameter
      categories: [
          "no_threshold",
          "0.15",
        ]

    optimization_input_distance_threshold_end_lf: 
      _target_: f3dasm.CategoricalParameter
      categories: [
          # "fixed_threshold",
          "adaptive_threshold",
          # "1.5",
        ]

  output_space:
    ddx_rec:
      _target_: f3dasm.ContinuousParameter
    ddy_rec:
      _target_: f3dasm.ContinuousParameter
    acc_nlcr_rec:
      _target_: f3dasm.ContinuousParameter

hyperparameters:
  data:
    fidelity_parameter_name: "res"
    low_fidelity_parameter: 20
    high_fidelity_parameter: 30
    dimensionality: 4
    data_initial_doe_size_hf: 174
  optimization:
    objective_name: "EA"
    lf_cost: 0.16
    iterations: 1
    budget: 1

hpc:
  jobid: 0

pbs_jobid: '0'

slurm:
  arrayid: 0
  jobid: '0'